
.ball{
    position: absolute;
    bottom: -10rem;
    transform: translate(-50%, -50%);
    
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    background-color: var(--red-2);
}

.ball--left{
    left: calc(-3 * var(--width-branches) / 4);    
}

.ball--right{
    left: calc(3 * var(--width-branches) / 4);
}
