
.ball{
    position: absolute;
    bottom: -10rem;
    transform: translate(-50%, -50%);
    
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    background-color: var(--color-red-2);
    z-index: 1;
}

.ball--left{
    left: calc(-3 * var(--width-branches) / 4);    
}

.ball--right{
    left: calc(3 * var(--width-branches) / 4);
}

/* --------------------------- */

.mini-balls{
    position: absolute;
    bottom: -8rem;
    transform: translate(-50%);

    width: calc(1.4 * var(--width-branches));
    height: 2rem;
    border-radius: 50%;
    border-bottom: .4rem dotted var(--color-yellow-1);
}

/* --------------------------- */

.light{
    position: absolute;
    transform: translate(-50%);

    width: .3rem;
    height: .3rem;
    border-radius: 50%;

    background-color: var(--color-yellow-2);
    animation: blinking-lights .1s linear infinite alternate;
}

.light--bottom-left{
    bottom: -9rem;
    left: calc(-1 * var(--width-branches) / 4);
}

.light--top-left{
    bottom: -7rem;
    left: calc(-1 * var(--width-branches) / 2);
}

.light--center{
    bottom: -9rem;
    left: 50%;
}

.light--bottom-right{
    bottom: -9rem;
    left: calc(var(--width-branches) / 4);
}

.light--top-right{
    bottom: -7rem;
    left: calc(var(--width-branches) / 2);
}

.light--last-layer-left{
    bottom: -4rem;
    left: calc(-1 * var(--width-branches) / 5);
}

.light--last-layer-center{
    bottom: -6rem;
    left: 50%;
}

.light--last-layer-right{
    bottom: -4rem;
    left: calc(var(--width-branches) / 5);
}

@keyframes blinking-lights{
    from {
        background-color: var(--color-yellow-2);
    } to {
        background-color: var(--color-yellow-3);
        box-shadow: 0 0 .7rem .2rem var(--color-yellow-4);
    }
}

/* --------------------------- */

.star{
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);

    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 2rem solid var(--color-yellow-5);
}

.star::before,
.star::after{
    content: "";
    position: absolute;
    top: 1.7rem;

    border-bottom: 3rem solid transparent;
}

.star::before{
    left: -2rem;
    transform: translate(-50%) rotate(-15deg);

    border-left: 3rem solid transparent;
    border-right: 3rem solid var(--color-yellow-5);
}

.star::after{
    left: 2rem;
    transform: translate(-50%) rotate(15deg);

    border-left: 3rem solid var(--color-yellow-5);
    border-right: 3rem solid transparent;
}

.star__shine{
    position: absolute;
    top: 2rem;
    transform: translate(-50%, -50%);

    width: 1px;
    height: 1px;
    border-radius: 50%;

    box-shadow: 0 0 3rem 2.5rem var(--color-yellow-8);
    animation: shining-star 3s linear infinite alternate;
    z-index: 1;
}

@keyframes shining-star{
    0% {
        box-shadow: 0 0 3rem 2.5rem var(--color-yellow-6);
    } 20% {
        box-shadow: 0 0 3rem 2.5rem var(--color-yellow-7);
    } 100% {
        box-shadow: 0 0 3rem 2.5rem var(--color-yellow-8);
    }
}