
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 6px;
}

@media only screen and (min-height: 400px){
    html{
        font-size: 8px;
    }
}

@media only screen and (min-height: 600px){
    html{
        font-size: 12px;
    }
}

@media only screen and (min-height: 900px){
    html{
        font-size: 16px;
    }
}

@media only screen and (min-height: 1200px){
    html{
        font-size: 20px;
    }
}

@media only screen and (min-height: 1500px){
    html{
        font-size: 30px;
    }
}