
.tree{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);

    width: .5rem;
    height: 70%;
    background-color: var(--color-brown-1);
    
    z-index: 1;
}

/* --------------------------- */

.pot{
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%);

    width: 5rem;
    height: 6rem;

    background-color: var(--color-red-1);
}

.pot::before,
.pot::after{
    content: "";
    position: absolute;

    width: 5rem;
    border-radius: 50%;
}

.pot::before{
    bottom: -10%;
    height: 1rem;

    background-color: var(--color-red-1);
}

.pot::after{
    top: -4%;
    height: .5rem;

    background-color: var(--color-green);
}

/* --------------------------- */

.branches{
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    border-bottom: 10rem solid var(--color-green);
    border-left: var(--width-branches) solid transparent;
    border-right: var(--width-branches) solid transparent;

    border-radius: 50%;
}

.branches--level-1{
    bottom: 10%;
}

.branches--level-2{
    bottom: 20%;
    --width-branches: 18rem;
}

.branches--level-3{
    bottom: 30%;
    --width-branches: 16rem;
}

.branches--level-4{
    bottom: 40%;
    --width-branches: 14rem;
}

.branches--level-5{
    bottom: 50%;
    --width-branches: 12rem;
}

.branches--level-6{
    bottom: 60%;
    --width-branches: 10rem;
}

.branches--level-7{
    bottom: 70%;
    --width-branches: 8rem;
}

.branches--level-8{
    bottom: 80%;
    --width-branches: 6rem;
}