
:root{
    --color-white-1: #fff;
    --color-white-2: #f3f3f3;
    --color-white-3: #ccc;
    --color-black-1: #222;
    --color-black-2: #444;
    --color-brown-1: #6d3e1e;
    --color-brown-2: #c9a288;
    --color-red-1: #a32828;
    --color-red-2: #b8463e;
    --color-green: #3c683c;
    --color-yellow-1: #fdfd75;
    --color-yellow-2: #ffff001c;
    --color-yellow-3: #ffff00;
    --color-yellow-4: #fcfc00ea;
    --color-yellow-5: #ccad00;
    --color-yellow-6: #ffd90000;
    --color-yellow-7: #ffd90044;
    --color-yellow-8: #ffd900;

    --width-branches: 20rem;
}