
:root{

    --white-1: #fff;
    --white-2: #f3f3f3;
    --white-3: #ccc;

    --black-1: #222;
    --black-2: #444;

    --brown: #6d3e1e;

    --red: #a32828;
    --red-2: #b8463e;

    --green: #3c683c;

    --yellow: #fdfd75;

    --width-branches: 20rem;
}